tei-Supplied {display: none;
}
tei-Reg {display: none;
}
tei-Seg {font-weight: bold;
}
tei-Seg:hover {background-color: yellow;
}
tei-Tei {background: #dedede
}
html {background: linear-gradient(0deg, #9bbede, #ffffff)
}
