tei-Tei {background: linear-gradient(0deg, #9bbede, #ffffff);
}
tei-Text {border: 2px solid #000000;
}
h4 {text-decoration: underline;
}
html {background: linear-gradient(0deg, #9bbede, #ffffff);
}
a {cursor: context-menu;
}
